### code a mettre pour les role et droit dans snowflake  (sans cela probleme pour crée le schema)

a faire dans snowlake en 1er créer le DWH avec calculer puis la BDD puis le user et le role et faire ce code ci-dessous

In [ ]:
-- GRANT ALL ON WAREHOUSE NYC_TAXI_WH TO ROLE DBT_BRIEF_USER;
-- GRANT ALL ON DATABASE NYC_TAXI_DB to ROLE DBT_BRIEF_USER;
-- GRANT ALL ON ALL SCHEMAS IN DATABASE NYC_TAXI_DB to ROLE DBT_BRIEF_USER;
-- GRANT ALL ON FUTURE SCHEMAS IN DATABASE NYC_TAXI_DB to ROLE DBT_BRIEF_USER;
-- GRANT ALL ON ALL TABLES IN SCHEMA NYC_TAXI_DB.RAW to ROLE DBT_BRIEF_USER;
-- GRANT ALL ON FUTURE TABLES IN SCHEMA NYC_TAXI_DB.RAW to ROLE DBT_BRIEF_USER;

## code dans le dossier NYC

In [ ]:
les etape a faire dans DBT au debut
crée le projet
faire la connexion + les teste de la connexion

## attention les code sont modifier pour permet le lieage a partir du "from"

models/NYC/YELLOW_TAXI_TRIPS_1.sql

code pour modifier les data brute de snowflake

In [ ]:
-- -- code modif time stamp

-- SELECT 
--     VENDORID,
    
--     -- Conversion du timestamp microsecondes en TIMESTAMP Snowflake
--     -- Puis extraction des éléments souhaités
--     TO_TIMESTAMP_NTZ(TPEP_PICKUP_DATETIME / 1000000) AS PICKUP_DATETIME,
--     EXTRACT(MINUTE FROM TO_TIMESTAMP_NTZ(TPEP_PICKUP_DATETIME / 1000000)) AS PICKUP_MINUTE,
--     EXTRACT(HOUR FROM TO_TIMESTAMP_NTZ(TPEP_PICKUP_DATETIME / 1000000)) AS PICKUP_HEURE,
--     EXTRACT(DAY FROM TO_TIMESTAMP_NTZ(TPEP_PICKUP_DATETIME / 1000000)) AS PICKUP_JOUR,
--     EXTRACT(MONTH FROM TO_TIMESTAMP_NTZ(TPEP_PICKUP_DATETIME / 1000000)) AS PICKUP_MOIS,
--     EXTRACT(YEAR FROM TO_TIMESTAMP_NTZ(TPEP_PICKUP_DATETIME / 1000000)) AS PICKUP_ANNEE,

--     TO_TIMESTAMP_NTZ(TPEP_DROPOFF_DATETIME / 1000000) AS DROPOFF_DATETIME,
--     EXTRACT(MINUTE FROM TO_TIMESTAMP_NTZ(TPEP_DROPOFF_DATETIME / 1000000)) AS DROPOFF_MINUTE,
--     EXTRACT(HOUR FROM TO_TIMESTAMP_NTZ(TPEP_DROPOFF_DATETIME / 1000000)) AS DROPOFF_HEURE,
--     EXTRACT(DAY FROM TO_TIMESTAMP_NTZ(TPEP_DROPOFF_DATETIME / 1000000)) AS DROPOFF_JOUR,
--     EXTRACT(MONTH FROM TO_TIMESTAMP_NTZ(TPEP_DROPOFF_DATETIME / 1000000)) AS DROPOFF_MOIS,
--     EXTRACT(YEAR FROM TO_TIMESTAMP_NTZ(TPEP_DROPOFF_DATETIME / 1000000)) AS DROPOFF_ANNEE,
    
--     PASSENGER_COUNT,
--     TRIP_DISTANCE,
--     RATECODEID,
--     STORE_AND_FWD_FLAG,
--     PULOCATIONID,
--     DOLOCATIONID,
--     PAYMENT_TYPE,
--     FARE_AMOUNT,
--     EXTRA,
--     MTA_TAX,
--     TIP_AMOUNT,
--     TOLLS_AMOUNT,
--     IMPROVEMENT_SURCHARGE,
--     TOTAL_AMOUNT,
--     CONGESTION_SURCHARGE,
--     AIRPORT_FEE,
--     CBD_CONGESTION_FEE

-- FROM NYC_TAXI_DB.RAW.YELLOW_TAXI_TRIPS

models/NYC/Analyse.sql   (ici j'analyse la vue et non une table )  cela va crée un table dans SNOWFLAKE

In [ ]:
-- SELECT
--     COUNT(*) AS total_lignes,
--     COUNT_IF(VENDORID IS NULL) AS nb_vendorid_null,
--     COUNT_IF(PASSENGER_COUNT IS NULL) AS nb_passenger_null,
--     COUNT_IF(TRIP_DISTANCE IS NULL) AS nb_trip_distance_null,
--     COUNT_IF(FARE_AMOUNT IS NULL) AS nb_fare_null,
--     COUNT_IF(TOTAL_AMOUNT IS NULL) AS nb_total_null,
--     COUNT_IF(FARE_AMOUNT < 0) AS nb_fare_negatif,
--     COUNT_IF(TOTAL_AMOUNT < 0) AS nb_total_negatif,
--     COUNT_IF(TRIP_DISTANCE = 0) AS nb_trajet_distance_zero,
--     COUNT_IF(TRIP_DISTANCE > 1000) AS nb_distance_aberrante
-- FROM YELLOW_TAXI_TRIPS_1

In [ ]:
-- models
-- /
-- NYC
-- /
-- Analyse.sql


-- SELECT
--     COUNT(*) AS total_lignes,
--     COUNT_IF(VENDORID IS NULL) AS nb_vendorid_null,
--     COUNT_IF(PASSENGER_COUNT IS NULL) AS nb_passenger_null,
--     COUNT_IF(TRIP_DISTANCE IS NULL) AS nb_trip_distance_null,
--     COUNT_IF(FARE_AMOUNT IS NULL) AS nb_fare_null,
--     COUNT_IF(TOTAL_AMOUNT IS NULL) AS nb_total_null,
--     COUNT_IF(FARE_AMOUNT < 0) AS nb_fare_negatif,
--     COUNT_IF(TOTAL_AMOUNT < 0) AS nb_total_negatif,
--     COUNT_IF(TRIP_DISTANCE = 0) AS nb_trajet_distance_zero,
--     COUNT_IF(TRIP_DISTANCE > 1000) AS nb_distance_aberrante
-- FROM {{ source('raw', 'yellow_taxi_trips_1') }}

##   le code pour crée le schema  1 partie dans le dossier "dbt_project.yml"

In [ ]:
a mettre a la fin du code pour crée les schema (ne pas oublier de crée les dossier et des fichier ave juste des select)



models:
  my_new_project:
    staging:
      +materialized: table   # ou view, selon ton besoin
      +schema: staging       # ou un autre schéma voulu
    final:
      +materialized: table   # ou view, selon ton besoin
      +schema: final       # ou un autre schéma voulu

##   le code pour crée le schema  2  partie dans le dossier "generate_schema_name.sql"  macros/generate_schema_name.sql

In [ ]:
-- {% macro generate_schema_name(custom_schema_name, node) -%}

--     {%- set default_schema = target.schema -%}
--     {%- if custom_schema_name is none -%}

--         {{ default_schema }}

--     {%- else -%}

--         {{ custom_schema_name | trim }}

--     {%- endif -%}

-- {%- endmacro %}

## code pour le lineage dans 
models
/
sources.yml

In [ ]:
version: 2

sources:
  - name: raw
    database: NYC_TAXI_DB
    schema: raw
    tables:
      - name: yellow_taxi_trips
      - name: yellow_taxi_trips_1

## code pour le dossier "STAGING"

models/staging/clean_raw.sql

In [ ]:
-- SELECT
--     VENDORID,
--     PICKUP_DATETIME,
--     PICKUP_MINUTE,
--     PICKUP_HEURE,
--     PICKUP_JOUR,
--     PICKUP_MOIS,
--     PICKUP_ANNEE,
--     DROPOFF_DATETIME,
--     DROPOFF_MINUTE,
--     DROPOFF_HEURE,
--     DROPOFF_JOUR,
--     DROPOFF_MOIS,
--     DROPOFF_ANNEE,
--     PASSENGER_COUNT,
--     TRIP_DISTANCE,
--     RATECODEID,
--     STORE_AND_FWD_FLAG,
--     PULOCATIONID,
--     DOLOCATIONID,
--     PAYMENT_TYPE,
--     FARE_AMOUNT,
--     EXTRA,
--     MTA_TAX,
--     TIP_AMOUNT,
--     TOLLS_AMOUNT,
--     IMPROVEMENT_SURCHARGE,
--     TOTAL_AMOUNT,
--     CONGESTION_SURCHARGE,
--     AIRPORT_FEE,
--     CBD_CONGESTION_FEE
-- FROM {{ source('raw', 'yellow_taxi_trips_1') }}
-- WHERE
--       FARE_AMOUNT >= 0
--   AND TOTAL_AMOUNT >= 0
--   AND TRIP_DISTANCE BETWEEN 0.1 AND 100
--   AND PULOCATIONID IS NOT NULL
--   AND DOLOCATIONID IS NOT NULL

models/staging/calcul.sql

In [ ]:
-- {{ config(materialized='view') }}

-- SELECT
--     -- Nouvelles colonnes d'enrichissement d'abord
--     DATEDIFF('minute', PICKUP_DATETIME, DROPOFF_DATETIME) AS duree_trajet_minutes,

--     CASE 
--         WHEN DATEDIFF('minute', PICKUP_DATETIME, DROPOFF_DATETIME) > 0
--             THEN TRIP_DISTANCE / (DATEDIFF('minute', PICKUP_DATETIME, DROPOFF_DATETIME) / 60.0)
--         ELSE NULL
--     END AS vitesse_moyenne_mph,

--     -- Catégorisation de la distance du trajet
--     CASE
--         WHEN TRIP_DISTANCE <= 1 THEN 'Court trajet'
--         WHEN TRIP_DISTANCE > 1 AND TRIP_DISTANCE <= 5 THEN 'Trajet moyen'
--         WHEN TRIP_DISTANCE > 5 AND TRIP_DISTANCE <= 10 THEN 'Long trajet'
--         WHEN TRIP_DISTANCE > 10 THEN 'Très long trajet'
--         ELSE 'Inconnu'
--     END AS categorie_trajet,

--     CASE 
--         WHEN FARE_AMOUNT > 0
--             THEN (TIP_AMOUNT / FARE_AMOUNT) * 100
--         ELSE NULL
--     END AS pourcentage_pourboire,

--     -- Toutes les autres colonnes
--     *
-- FROM {{ ref('clean_raw') }}
-- WHERE PICKUP_ANNEE IN (2024, 2025)

## code pour le dossier "FINAL"

daily_summary.sql

In [ ]:
-- {{ config(materialized='table') }}

-- SELECT
--     -- On isole la date du pickup pour le regroupement par jour
--     DATE(PICKUP_DATETIME) AS pickup_date,

--     -- Nombre de trajets dans la journée
--     COUNT(*) AS nb_trajets,

--     -- Distance moyenne par trajet ce jour-là
--     AVG(TRIP_DISTANCE) AS distance_moyenne,

--     -- Revenus totaux (total_amount = tout ce qui rapporte pour le chauffeur)
--     SUM(TOTAL_AMOUNT) AS revenus_totaux

-- FROM {{ ref('calcul') }}

-- GROUP BY 
--     DATE(PICKUP_DATETIME)
-- ORDER BY
--     pickup_date

hourly_patterns.sql

In [ ]:
-- {{ config(materialized='table') }}

-- SELECT
--     -- Date et heure de départ du trajet (granularité heure)
--     DATE(PICKUP_DATETIME) AS pickup_date,
--     PICKUP_HEURE,

--     -- Demande : nombre de trajets par heure
--     COUNT(*) AS demande,

--     -- Revenus totaux générés sur ce créneau horaire
--     SUM(TOTAL_AMOUNT) AS revenus,

--     -- Vitesse moyenne par heure (miles/h)
--     AVG(vitesse_moyenne_mph) AS vitesse_moyenne

-- FROM {{ ref('calcul') }}

-- GROUP BY
--     DATE(PICKUP_DATETIME),
--     PICKUP_HEURE

-- ORDER BY
--     pickup_date,
--     PICKUP_HEURE


zone_analysis.sql

In [ ]:
-- {{ config(materialized='table') }}

-- SELECT
--     -- La zone de départ
--     PULOCATIONID AS zone_depart,

--     -- Nombre de trajets (volume) pour chaque zone
--     COUNT(*) AS volume_trajets,

--     -- Revenu moyen par course pour chaque zone
--     AVG(TOTAL_AMOUNT) AS revenu_moyen,

--     -- Popularité : proportion du volume de la zone par rapport à l'ensemble (en %)
--     (COUNT(*)*100.0) / SUM(COUNT(*)) OVER () AS popularite_pourcent

-- FROM {{ ref('calcul') }}

-- GROUP BY
--     PULOCATIONID

-- ORDER BY
--     volume_trajets DESC

KPI.sql

In [ ]:
-- {{ config(materialized='view') }}

-- WITH base AS (
--     SELECT
--         TO_TIMESTAMP(PICKUP_DATETIME) AS pickup_ts,
--         PULOCATIONID,
--         TOTAL_AMOUNT,
--         TRIP_DISTANCE
--     FROM {{ ref('calcul') }}

-- )

-- -- 1. Nombre total de trajets par mois
-- , trajets_par_mois AS (
--     SELECT
--         TO_CHAR(pickup_ts, 'YYYY-MM') AS mois,
--         COUNT(*) AS nb_trajets
--     FROM base
--     GROUP BY mois
--     ORDER BY mois
-- )

-- -- 2. Revenu moyen par trajet 
-- , revenu_moyen AS (
--     SELECT
--         AVG(TOTAL_AMOUNT) AS revenu_moyen_par_trajet
--     FROM base
-- )

-- -- 3. Distance moyenne parcourue 
-- , distance_moyenne AS (
--     SELECT
--         AVG(TRIP_DISTANCE) AS distance_moyenne
--     FROM base
-- )

-- -- 4. Top 10 zones les plus populaires (départs)
-- , top_zones AS (
--     SELECT
--         PULOCATIONID,
--         COUNT(*) AS nb_trajets_zone
--     FROM base
--     WHERE PULOCATIONID IS NOT NULL
--     GROUP BY PULOCATIONID
--     ORDER BY nb_trajets_zone DESC
--     LIMIT 10
-- )

-- -- 5. Analyse des heures de pointe (par nombre de trajets)
-- , heures_pointe AS (
--     SELECT
--         EXTRACT(HOUR FROM pickup_ts) AS heure,
--         COUNT(*) AS nb_trajets
--     FROM base
--     GROUP BY heure
--     ORDER BY nb_trajets DESC
--     LIMIT 5
-- )

-- -- Sélection finale, pour présenter tous les KPI
-- SELECT 
--     'Trajets par mois' AS kpi, 
--     mois, 
--     nb_trajets, 
--     NULL AS info
-- FROM trajets_par_mois

-- UNION ALL

-- SELECT 
--     'Revenu moyen par trajet', 
--     NULL, 
--     NULL, 
--     CAST(revenu_moyen_par_trajet AS STRING)
-- FROM revenu_moyen

-- UNION ALL

-- SELECT 
--     'Distance moyenne parcourue', 
--     NULL, 
--     NULL, 
--     CAST(distance_moyenne AS STRING)
-- FROM distance_moyenne

-- UNION ALL

-- SELECT 
--     'Top zone populaire (pickup)', 
--     NULL, 
--     nb_trajets_zone, 
--     CAST(PULOCATIONID AS STRING)
-- FROM top_zones

-- UNION ALL

-- SELECT 
--     'Top heure de pointe', 
--     NULL, 
--     nb_trajets, 
--     CAST(heure AS STRING)
-- FROM heures_pointe

renta_day.sql

In [ ]:
-- {{ config(materialized='view') }}

-- WITH base AS (
--     SELECT
--         -- Extraction du jour de la semaine (0 = Dimanche, 1 = Lundi, ...)
--         DAYOFWEEK(PICKUP_DATETIME) AS jour_num,
--         CASE 
--             WHEN DAYOFWEEK(PICKUP_DATETIME) = 0 THEN 'Dimanche'
--             WHEN DAYOFWEEK(PICKUP_DATETIME) = 1 THEN 'Lundi'
--             WHEN DAYOFWEEK(PICKUP_DATETIME) = 2 THEN 'Mardi'
--             WHEN DAYOFWEEK(PICKUP_DATETIME) = 3 THEN 'Mercredi'
--             WHEN DAYOFWEEK(PICKUP_DATETIME) = 4 THEN 'Jeudi'
--             WHEN DAYOFWEEK(PICKUP_DATETIME) = 5 THEN 'Vendredi'
--             WHEN DAYOFWEEK(PICKUP_DATETIME) = 6 THEN 'Samedi'
--         END AS jour_semaine,
--         TOTAL_AMOUNT
--     FROM {{ ref('calcul') }}
-- )
-- SELECT
--     jour_semaine,
--     SUM(TOTAL_AMOUNT) AS revenus_totaux,
--     ROUND(100 * SUM(TOTAL_AMOUNT) / SUM(SUM(TOTAL_AMOUNT)) OVER (), 2) AS pourcentage_revenus
-- FROM base
-- GROUP BY jour_num, jour_semaine
-- ORDER BY pourcentage_revenus DESC

renta_hours.sql

In [ ]:
-- {{ config(materialized='view') }}

-- WITH base AS (
--     SELECT
--         TO_TIMESTAMP(PICKUP_DATETIME) AS pickup_ts,
--         TOTAL_AMOUNT
--     FROM {{ ref('calcul') }}
-- )
-- SELECT
--     EXTRACT(HOUR FROM pickup_ts) AS heure,
--     SUM(TOTAL_AMOUNT) AS revenus_totaux,
--     ROUND(100 * SUM(TOTAL_AMOUNT) / SUM(SUM(TOTAL_AMOUNT)) OVER (), 2) AS pourcentage_revenus
-- FROM base
-- GROUP BY heure
-- ORDER BY pourcentage_revenus DESC

renta_month.sql

In [ ]:
-- {{ config(materialized='view') }}

-- WITH base AS (
--     SELECT
--         TO_TIMESTAMP(PICKUP_DATETIME) AS pickup_ts,
--         TOTAL_AMOUNT
--     FROM {{ ref('calcul') }}
-- )
-- SELECT
--     TO_CHAR(pickup_ts, 'Month') AS mois,
--     MONTH(pickup_ts) AS mois_num,
--     SUM(TOTAL_AMOUNT) AS revenus_totaux,
--     ROUND(100 * SUM(TOTAL_AMOUNT) / SUM(SUM(TOTAL_AMOUNT)) OVER (), 2) AS pourcentage_revenus
-- FROM base
-- GROUP BY mois, mois_num
-- ORDER BY pourcentage_revenus DESC